<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="spark2_v2_2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000678366020361619 0.000650450303024658 0.0419206716961152"
        rpy="0 0 0" />
      <mass
        value="0.415365145484454" />
      <inertia
        ixx="0.000521278292861762"
        ixy="2.21370688018714E-06"
        ixz="3.53401377721654E-07"
        iyy="0.000499821552472947"
        iyz="1.19059750488371E-07"
        izz="0.000640044292539751" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.stl" />
      </geometry>
    </collision>
  </link>
  <link
    name="L1">
    <inertial>
      <origin
        xyz="0.0523118115572577 0.00594580107075411 0.00983465410868319"
        rpy="0 0 0" />
      <mass
        value="0.534905861017287" />
      <inertia
        ixx="0.000276838854041804"
        ixy="-4.31570539270566E-05"
        ixz="0.000115785773545033"
        iyy="0.000833335936719246"
        iyz="1.45298376550128E-05"
        izz="0.00081293822684724" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L1.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L1.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1"
    type="revolute">
    <origin
      xyz="0 0 0.0982000000000019"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="L1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L2">
    <inertial>
      <origin
        xyz="0.178655385833371 1.16424483877497E-05 0.0695175784974708"
        rpy="0 0 0" />
      <mass
        value="1.04321954132946" />
      <inertia
        ixx="0.000510824708514096"
        ixy="-1.32571036792121E-06"
        ixz="0.000200596291448722"
        iyy="0.0114932589328011"
        iyz="4.43270884571876E-10"
        izz="0.0118746553216229" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L2.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L2.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2"
    type="revolute">
    <origin
      xyz="0.096 0 0"
      rpy="-1.5708 -1.5708 0" />
    <parent
      link="L1" />
    <child
      link="L2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5708"
      upper="1.5708"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L3">
    <inertial>
      <origin
        xyz="0.0685427075960562 3.46478452044191E-05 -0.000250345774393589"
        rpy="0 0 0" />
      <mass
        value="0.604374693422943" />
      <inertia
        ixx="0.00024224305007648"
        ixy="-8.02501252967998E-08"
        ixz="4.44546348099807E-05"
        iyy="0.00111923550432159"
        iyz="-7.1946457438659E-08"
        izz="0.00122911861120972" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L3.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L3.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3"
    type="revolute">
    <origin
      xyz="0.3465 0 0"
      rpy="0 0 0" />
    <parent
      link="L2" />
    <child
      link="L3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L4">
    <inertial>
      <origin
        xyz="3.85035658024835E-05 -0.0307497533444185 0.00771455130180919"
        rpy="0 0 0" />
      <mass
        value="0.0680910386855528" />
      <inertia
        ixx="5.02370842959246E-05"
        ixy="2.17941257400551E-08"
        ixz="-5.00505821446486E-09"
        iyy="1.3185332173706E-05"
        iyz="-5.35376641377241E-06"
        izz="4.80704614940244E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L4.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L4.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4"
    type="revolute">
    <origin
      xyz="0.15 0 0"
      rpy="0 0 0" />
    <parent
      link="L3" />
    <child
      link="L4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.1745"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L5">
    <inertial>
      <origin
        xyz="6.5958025867564E-06 -0.00964895937031807 -0.000559142359287028"
        rpy="0 0 0" />
      <mass
        value="0.666007703225141" />
      <inertia
        ixx="0.000648028666449104"
        ixy="1.19136949417991E-07"
        ixz="-2.20406752608483E-07"
        iyy="0.00031206466544187"
        iyz="7.07164219256724E-06"
        izz="0.000664872886215904" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L5.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L5.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J5"
    type="revolute">
    <origin
      xyz="0 -0.09572 0"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="L4" />
    <child
      link="L5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="L6">
    <inertial>
      <origin
        xyz="3.69716788001396E-15 -2.31531373934279E-16 0.00822650479261355"
        rpy="0 0 0" />
      <mass
        value="0.0600936238717863" />
      <inertia
        ixx="1.88959303343739E-05"
        ixy="5.03820847703936E-22"
        ixz="-4.24468440030164E-21"
        iyy="1.88959303343739E-05"
        iyz="-3.47054644732753E-22"
        izz="3.62039072584336E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L6.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L6.stl" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J6"
    type="revolute">
    <origin
      xyz="0 -0.1189 0"
      rpy="1.5708 0 0" />
    <parent
      link="L5" />
    <child
      link="L6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.2832"
      upper="6.2832"
      effort="0"
      velocity="0" />
  </joint>
  <link name="arm_end_effector">
  </link>
  <joint name="J7" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.0146"/>
    <parent link="L6"/>
    <child link="arm_end_effector"/>
  </joint>
</robot>